<%= form_with(model: [@quizo, @contestant], class: "form") do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  
  
  
    <div class="form-group">
      <%= form.submit 'Create Contestant', class: "btn btn-primary" %>
    </div>
  <% end %>
  