<!-- _navbar.html.erb -->

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Quiz App</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      
      <!-- Add more navigation links as needed -->
    </ul>
  </div>
</nav>
