<h1>Submission Details</h1>
<p>Contestant: <%= @submission.contestant.name %></p>
<p>Question: <%= @submission.quesition.content %></p>
<p>Selected Answer: <%= @submission.selected_answer %></p>
<p>Score: <%= @submission.score %></p>
