<h1>Editing quesition</h1>

<%= render "form", quesition: @quesition %>

<br>

<div>
  <%= link_to "Show this quesition", @quesition %> |
  <%= link_to "Back to quesitions", quesitions_path %>
</div>
