
<% @quesitions.each do |quesition| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Question:</h5>
      <p class="card-text">Question ID: <%= quesition.id %></p>
      <%= link_to "View Question", quizo_contestant_quesition_path(@quizo, @contestant, quesition), class: "btn btn-primary" %>



    </div>
  </div>
<% end %>
