<% counter = 1 %>
<% @quizo.quesitions.each do |quesition| %>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Question <%= counter %>:</h5>
      

      <%= link_to "View Question", view_quizo_quesition_path(@quizo, quesition,  contestant_id: @contestant.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% counter += 1 %>
<% end %>
